<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%p] [%t] [%c] - [%m]%n</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout>
            	<Pattern>
            		%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} [%p] [%t] [%c] - [%m]%n
            	</Pattern> 
            </PatternLayout>
        </Console>
 
        <!-- <RollingFile name="appLog"
            fileName="${APP_LOG_ROOT}/SpringBoot2App/application.log"
            filePattern="${APP_LOG_ROOT}/SpringBoot2App/application-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="${LOG_PATTERN}" />
            <Policies>
                <SizeBasedTriggeringPolicy size="19500KB" />
            </Policies>
            <DefaultRolloverStrategy max="1" />
        </RollingFile> -->
 
    </Appenders>
    <Loggers>
 
        <!-- <Logger name="com.practice" level='info'>
            <AppenderRef ref="Console" />
        </Logger> -->
 
        <AsyncRoot level="info">
            <AppenderRef ref="Console" />
        </AsyncRoot>
    </Loggers>
</Configuration>